:root {
  --gradientY: linear-gradient(180deg, #58F597 0%, rgba(88, 170, 245, 0.85) 100%);
  --gradientX: linear-gradient(89.95deg, #58F597 0.02%, rgba(88, 170, 245, 0.85) 99.98%);
  --light-green: #58f597;
  --light-gray: #939393;

  --content--max-width: 1120px;
}
.gradient-text {
  background: var(--gradientY);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-container-1 {
  max-width: var(--content--max-width);
  margin: 70px auto 200px auto;
}
.content-btn {
  padding: 15px 45px;
  border-radius: 20px;
  background: var(--gradientX);
  font-weight: 300;
  font-size: 24px;
  color: white;
  border: unset;
}
.content-title {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 36px;
}
.content-text {
  font-weight: 300;
  font-size: 24px;
}
.content-text-small {
  font-weight: 300;
  font-size: 16px;
}
.content-text-link {
  cursor: pointer;
  color: #4BA9FF;
}
.content-text-link-gray {
  cursor: pointer;
  color: var(--light-gray);
}
.content-text-link-gray:hover, .content-text-link:hover {
  text-decoration: underline;
}

/* Social networks */
.twitter-icon, .google-plus-icon, .vk-icon, .fb-icon{
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0.9);
}
.twitter-icon, .google-plus-icon, .vk-icon{
  margin-right: 52px;
  border-radius: 50%;
}
.twitter-icon:hover {
  background-color: #4BA9FF;
}
.google-plus-icon:hover {
  background-color: #D80000;
}
.vk-icon:hover {
  background-color: #004CBD;
}
.fb-icon:hover {
  background-color: #0012B9;
}
/* Social networks */

.title-social-container {
  display: flex;
  flex-direction: column;
}
.content-form-container {
  width: 500px;
}
.content-input-container {
  width: 100% ;
  height: 50px;
}

.content-input {
  width: inherit;
  height: inherit;
  /*border-radius: 20px;*/
  border: solid 2px transparent;
  border-radius: 20px;
  background-image: linear-gradient(white, white), var(--gradientY);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-size: 18px;
  text-indent: 60px;
  box-shadow: unset;
}
.content-input::placeholder {
  font-weight: 300;
  font-size: 18px;
  color: var(--light-gray);
}
.input-icon {
  position: absolute;
  margin: 11px 0 11px 20px;
  z-index: 100;
}
@media (max-width: 730px) {
  .twitter-icon, .google-plus-icon, .vk-icon, .fb-icon{
    transform: scale(0.8);
  }
  .twitter-icon, .google-plus-icon, .vk-icon {
    margin-right: 32px;
  }
}
@media (max-width: 505px) {
  .content-form-container {
    width: 300px;
  }
  .twitter-icon, .google-plus-icon, .vk-icon, .fb-icon{
    transform: scale(0.6);
  }
  .twitter-icon, .google-plus-icon, .vk-icon {
    margin-right: 10px;
  }
}

/* Checkbox */
.content-checkbox{
  -webkit-appearance: none;
  background-color: white;
  border: solid 2px rgba(88, 170, 245, 0.85);
  border-radius: 5px;
  padding: 10px !important;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.content-checkbox:checked {
  background: rgba(88, 170, 245, 0.85);
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDE5LjI4MTI1IDUuMjgxMjUgTCA5IDE1LjU2MjUgTCA0LjcxODc1IDExLjI4MTI1IEwgMy4yODEyNSAxMi43MTg3NSBMIDguMjgxMjUgMTcuNzE4NzUgTCA5IDE4LjQwNjI1IEwgOS43MTg3NSAxNy43MTg3NSBMIDIwLjcxODc1IDYuNzE4NzUgWiI+PC9wYXRoPjwvc3ZnPg==') 50% 50% no-repeat;
  background-size: 100%;
}

/* Checkbox */