.header-container-1 {
    width: 100%;
    height: 80px;
    display: flex;
    background: rgba(247, 255, 251, 0.98);
    border-bottom: 2px solid var(--light-green);
    font-size: 18px;
}
.header-container-2 {
    width: var(--content--max-width);
    height: inherit;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.header-container-3 {
    display: flex;
}
.header-links {
    display: flex;
    font-weight: 300;
    height: inherit;
    cursor: pointer;
    padding: 0 25px;
    color: black !important;
    text-decoration: none !important;
}
.header-icon-link {
    cursor: pointer;
    margin: auto 0;
}
.header-logo-icon-container{
    display: flex;
}
.header-logo-icon, .header-users-icon, .header-profile-icon {
    display: flex;
}
.header-users-icon > svg, .header-profile-icon > svg, .header-logo-icon > svg {
    transform: scale(0.8);
    margin: auto 0;
    display: flex;
}
.header-logo-icon > svg {
    transform: scale(0.8);
}
.header-users-online {
    display: flex;
}
.header-popover-container-1 {
    position: relative;
    width: var(--content--max-width);
}
.header-popover-container {
    display: none;
    position: absolute;
    top: 80px;
    left: 60%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    min-width: 300px;
    background: white;
    border-radius: 0 0 20px 20px;
    z-index: 500;
    padding: 25px 35px;
    flex-flow: row wrap;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}
.header-links-categories:hover .header-popover-container {
    display: block;
}

@media (min-width: 880px) and (max-width: 1140px) {
    .header-container-2 {
        padding: 0 20px;
    }
}
@media (max-width: 880px) {
    .header-container-2 {
        padding: 0 20px;
    }
    .header-users-online {
        display: none;
    }
    .header-links-categories:hover .header-popover-container {
        display: none;
    }
}
@media (max-width: 780px) {
    .header-container-2 {
        padding: 0 20px;
    }
    .header-users-online {
        display: none;
    }
    .header-logo-icon, .header-logo-icon-container {
        display: none !important;
    }
    .header-container-3 {
        margin: 0 auto;
    }
    .header-links-categories:hover .header-popover-container {
        display: none;
    }
}
@media (max-width: 525px) {
    .header-links {
        padding: 0 8px;
    }
    .header-links-categories:hover .header-popover-container {
        display: none;
    }
}