.home-preview-container, .search-preview-container {
   width: 100%;
   height: 675px;
   background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.webp");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   box-shadow: inset 0 0 70px black;
}
.home-preview-container.no-webp, .search-preview-container.no-webp {
   width: 100%;
   height: 675px;
   background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   box-shadow: inset 0 0 70px black;
}
.search-preview-container {
   height: 350px !important;
}
.home-preview-container-2 {
   max-width: 900px;
   margin-top: 120px;
   width: 100%;
}
.home-preview-title {
   font-style: normal;
   font-weight: 300;
   font-size: 52px;
   line-height: 72px;
   color: white;
   text-align: center;
   text-shadow: 0 0 15px #1a1a1a;
}
.home-preview-search-container {
   width: 100%;
   max-width: 700px;
   height: 53px;
   position: relative;
}
.home-preview-search-icon {
   position: absolute;
   height: inherit;
   width: 61px;
   display: flex;
   background: var(--gradientY);
   border-radius: 0 20px 20px 0;
   right: 0;
   cursor: pointer;
}

.queries-popover-container {
   position: absolute;
   background: white;
   width: calc(100% - 61px);
   max-height: 250px;
   border-radius: 20px 0 20px 20px;
   z-index: 500;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
   padding: 10px 0;
}
.queries-line {
   text-align: left;
}
.queries-line:hover {
   background: rgba(0, 0, 0, 0.04);
}
@media (min-width: 880px) and (max-width: 1140px) {

}
@media (max-width: 880px) {
   .home-preview-search-container{
      max-width: 500px;
   }
   .home-preview-container-2{
      max-width: 500px;
   }
   .home-preview-title {
      font-size: 40px;
   }
   .home-preview-container, .search-preview-container {
      background-attachment: scroll !important;
   }
}
@media (max-width: 780px) {

}
@media (max-width: 525px) {
   .home-preview-container-2{
      max-width: 350px;
   }
   .home-preview-title {
      font-size: 30px;
      line-height: 50px;
   }
}